
<nav class="navbar" th:fragment="navbar">
    <div class="container">
        <a href="/materials" class="nav-link">Материалы</a>
        <a href="/stock" class="nav-link">Склад</a>
        <a href="/orders" class="nav-link">Заказы</a>
        <a href="/orderitems" class="nav-link">Детали заказа</a>
        <a href="/products" class="nav-link">Продукты</a>
        <a href="/suppliers" class="nav-link">Поставщики</a>
        <a href="/users" class="nav-link">Пользователи</a>
        <a href="/logout" class="nav-link">Выйти</a>
    </div>
</nav>
